<% if @customer.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@customer.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% @customer.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
<div class = 'row'>
  <div class = 'col-xs-12'>
      <%= form_with model: @customer, local: true do |form| %>

      <div class = "form-group">
        <div class = "control-label col-xs-2">
          <%= form.label :FirstName %>
        </div>
        <div class = "col-md-4">
           <%= form.text_field :name, class: "form-control" %>
        </div>

        <div class = "control-label col-xs-2">
          <%= form.label :lastname %>
        </div>
        <div class = "col-md-4">
           <%= form.text_field :lastname, class: "form-control" %>
        </div>
      
      <p>
      <%= form.label :phone %><br>
      <%= form.text_field :phone %>
      </p>
      <p>
      <%= form.label :address %><br>
      <%= form.text_area :address %>
      </p>
      <p>
      <%= form.label :email %><br>
      <%= form.text_field :email %>
      </p>
      <p>
      <%= form.submit %>
      </p>
 
<% end %>
</div>
</div>