
<div class = "container">
  <h2>Customer Details</h2>
	<table class ="table table-hover table-striped">
		<tr>
			<th><strong>Name</strong></th>
			<th><strong> Phone</strong></th>
			<th><strong>Address</strong></th>
			<th><strong> Email</strong></th>
      <th colspan = "5"></th>
		</tr>
		<tr>
			<td><%= @customer.name %></td>
			<td><%= @customer.phone %></td>
			<td><%= @customer.address %></td>
			<td><%= @customer.email %></td>
      <td><%= link_to 'Show Projects', customer_projects_path(@customer) %></td>
      <td><%= link_to 'Edit', edit_customer_path(@customer) %></td>
		</tr>
	</table>
</div>

<div class = "container">
<h2>Add a Project:</h2>
<%= form_with(model: [ @customer, @customer.projects.build ], local: true) do |form| %>
  <p>
    <%= form.label :Project_Title %><br>
    <%= form.text_field :jname %>
  </p>
  <p>
    <%= form.label :Description %><br>
    <%= form.text_area :jdescription %>
  </p>
  <p>
    <%= form.label :price %><br>
    <%= form.number_field :price %>
  </p>
  <p>
    <%= form.label :Start_Date %><br>
    <%= form.date_field :start_time %>
  </p>
  <p>
    <%= form.label :End_date %><br>
    <%= form.date_field :end_time %>
  </p>
  <p>
  <%= form.label :Project_Status %>
  <%= form.select :Project_Status, [['In Progress',false],['Completed', true]] %> 
  <p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', customers_path %>
</div>