
<div class = "container">
  <div class = "col-sm-offset-2">
    <h2>Add a Project</h2>
  </div>

<div class = "row">
  <div class = "col-xs-12">
<%= form_with(model: [ @customer, @customer.projects.build ], local: true, :html => {class: "form-horizontal", role: "form"}) do |form| %>
  <div class = "form-group">
    <div class = "control-label col-sm-2">
      <%= form.label :Project_Title %>
    </div>
    <div class = "col-sm-6">
      <%= form.text_field :jname, class: "form-control", placeholder: "Project Title", autofocus: true %>
    </div>
  </div>
   
   <div class = "form-group">
    <div class = "control-label col-sm-2">
      <%= form.label :Description %>
    </div>
    <div class = "col-sm-6">
      <%= form.text_area :jdescription,rows: 5 ,class: "form-control",placeholder: "Description of Project" %>
    </div>
  </div>
   
   <div class = "form-group">
    <div class = "control-label col-sm-2">
      <%= form.label :price %>
    </div>
    <div class = "col-sm-3">
      <div class = "input-group">
        <div class = "input-group-addon">₹</div>
          <%= form.number_field :price, class: "form-control", id: "exampleInputAmount" , placeholder: "Price" %>
        <div class = "input-group-addon">.00</div>
      </div>
    </div>
  </div>
   
   <div class = "form-group">
    <div class = "control-label col-sm-2">
      <%= form.label :Start_Date %>
    </div>
    <div class = "col-sm-3">
      <%= form.date_field :start_time, class: "form-control" %>
    </div>
   </div>
  
  <div class = "form-group">
    <div class = "control-label col-sm-2">
      <%= form.label :End_date %>
    </div>
    <div class = "col-sm-3">
      <%= form.date_field :end_time, class: "form-control" %>
    </div>
  </div>
  
  <div class = "form-group">
    <div class = "control-label col-sm-2">
      <%= form.label :Project_Status %>
    </div>
    <div class = "col-sm-4">
      <%= form.select :Project_Status, [['In Progress',false],['Completed', true]], class: "form-control" %>
    </div>
  </div> 
  
  <div class = "form-group">
    <div class = "col-sm-offset-2 col-sm-10">
        <%= form.submit class: 'btn btn-primary btn-lg' %>
    </div>
  </div>
<% end %>
</div>
</div>

<div class = "col-sm-offset-2">
  <%= link_to 'Back to customers listing', customers_path %> | <%= link_to 'Show Projects', customer_projects_path(@customer) %> for <%= @customer.name %> <%= @customer.lastname %> | 
  <%= link_to 'Edit Details', edit_customer_path(@customer) %> of <%= @customer.name %> <%= @customer.lastname %>
</div>
</div>