<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


<div class = "container">
<div id = "header">
  <div class = "invoice-date">
	<p><i>Date: <%= (Date.today).to_s(:long) %></i></p>
  </div>
  <h1 align = "center"><strong> Ajey Gampawar Associates</strong></h1>
  <p align = "center">SS-6, Second Floor, Golden Palace, W High Ct Rd, Beside Sudama Theater, Dharampeth, Nagpur, Maharashtra 440010<br>Phone: 0712 329 1011</p>
  <p align = "center"></p>
</div>
</div>
<p><br></p>

<div class = "container">
	<h4>Total Sales of <%= Date::MONTHNAMES[Date.today.month] %></h4>

<table class = "table">
	<thead>
	<tr>
		<th>Customer</th>
		<th>Project</th>
		<th>Description </th>
		<th>Project Cost </th>
		<th>Addons Cost</th>
		<th>Started</th>
		<th>Ended</th>
		<th>Total Cost</th>
	</tr>
	</thead>
	<% @project.each do |pro| %>
	<% @sum_of_addons = @sum_of_addons + pro.addons.sum(:price)%>
	<tr>
		<td><%= Customer.find(pro.customer_id).name.capitalize %> <%= Customer.find(pro.customer_id).lastname.capitalize %></td>
		<td><%= pro.jname %></td>
		<td><%= pro.jdescription %></td>
		<td><%= currency(pro.price) %></td>
		<td><%= currency(pro.addons.sum(:price)) %></td>
		<td><%= pro.start_time.to_s(:long) %></td>
		<td><%= pro.end_time.to_s(:long) %></td>
		<td><%= currency(pro.price + pro.addons.sum(:price)) %></td>
	</tr>
	<% end %>
</table>

<strong>Grand Total of <%= Date::MONTHNAMES[Date.today.month]%> : <%= currency(@project.sum(:price) + @sum_of_addons) %></strong> only/.
</div>