
<div class = "invoice-date">
<p> Invoice Date:  <i><%= (Date.today).to_s(:long) %></i></p>
</div>
<div class = "container">
<div id = "header">
  <h1>Order for <%= @customer.name.upcase %> <%= @customer.lastname.upcase %> </h1>
</div>
</div>
<p><br></p>

<div class = "container">
<table class = "table">
	<tr>
		<th>Job Name</th>
		<th>Job Description</th>
		<th>Price</th>
		<th>Start Date</th>
		<th>End Date</th>
	</tr>

	<tr class = "active">
	  	<td><%= @project.jname %></td>
	  	<td><%= @project.jdescription %></td>
	  	<td><%= currency(@project.price) %></td>
	  	<td><%= @project.start_time.to_s(:long) %></td>
	  	<td><%= @project.end_time.to_s(:long) %></td>
	  </tr>
</table>

    <table class= "table">
    	<tr>
    		<th>Service Name</th>
    		<th> Description</th>
    		<th>Price</th>
    	</tr>

    	<% @project.addons.each do |addon| %>
    		<tr>
    			<td><%= addon.service %></td>
    			<td><%= addon.description %></td>
    			<td><%= addon.price %></td>
    		</tr>
    	<% end %>
	</table>


	<% total_cost_of_project = @project.price + @project.addons.sum(:price) %>
	<p> Total Cost : <%= currency(total_cost_of_project) %></p>
</div>