<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<div class = "invoice-date">
	<p><i>Invoice Date: <%= (Date.today).to_s(:long) %></i> </p>
</div>
<div class = "container">
	<div id = "header">
		<p align ="center"><%= wicked_pdf_image_tag("pdf-logo.png", :alt => "logo", size: "300x100") %></p>
		  <p align = "center">SS-6, Second Floor, Golden Palace, W High Ct Rd, Beside Sudama Theater, Dharampeth, Nagpur, Maharashtra 440010<br>Phone: 0712 329 1011</p>
		  <p align = "center"></p>
	</div>
</div>
<p><br></p>

<div class = "container">
	<h4>Order Details </h4>
<table class = "table">
	<thead>
	<tr>
		<th>Customer</th>
		<th>Project</th>
		<th>Description</th>
		<th>Price</th>
		<th>Started</th>
		<th>Ended</th>
	</tr>
    </thead>
	<tr class = "active">
		<td><%= @customer.name.capitalize %> <%= @customer.lastname.capitalize %></td>
	  	<td><%= @project.jname %></td>
	  	<td><%= @project.jdescription %></td>
	  	<td><%= currency(@project.price) %></td>
	  	<td><%= @project.start_time.to_s(:long) %></td>
	  	<td><%= @project.end_time.to_s(:long) %></td>
	  </tr>
</table>

<% if @project.addons.empty? %>
<h5> Addons: Nil</h5>
<% else %>
    <h4>Order Addons Details </h4>
    <table class= "table">
    	<tr>
    		<th>Service Name</th>
    		<th> Description</th>
    		<th>Price</th>
    	</tr>

    	<% @project.addons.each do |addon| %>
    		<tr>
    			<td><%= addon.service %></td>
    			<td><%= addon.description %></td>
    			<td><%= currency(addon.price) %></td>
    		</tr>
    	<% end %>
	</table>

<% end %>
	<% total_cost_of_project = @project.price + @project.addons.sum(:price) %>
	<p><strong> Total Cost : <%= currency(total_cost_of_project) %></strong></p><br><br>
	<p style = "float: left" align = "left"> Signature<br>(<%= @customer.name.capitalize %> <%= @customer.lastname.capitalize %>) </p>
	<p style = "float: right margin-bottom: 20px; " align = "right"> Signature<br>(Ajey Gampawar)</p>
</div>
    
 <!--<h1 align = "center"><strong> Ajey Gampawar Associates</strong></h1>-->