<div class = "container">
	<%= link_to 'Back', customer_projects_path, class: 'btn btn-warning btn-sm' %>
<h2>Project Details</h2>
<div class = "container">
	<table class ="table table-hover table-striped">
		<tr>
			<th><strong>Customer</strong></th>
			<th><strong>Job Name</strong></th>
			<th><strong> Job Description</strong></th>
			<th><strong>Price</strong></th>
			<th><strong>Start Date</strong></th>
			<th><strong>End Date</strong></th>
			<th><strong>Status</strong></th>
			<th colspan = 3></th>
		</tr>
		<tr>
			<td><%= @customer.name.capitalize %> <%= @customer.lastname.capitalize %></td>
			<td><%= @project.jname %></td>
			<td><%= @project.jdescription %></td>
			<td><%= @project.price %>₹</td>
			<td><%= @project.start_time.to_s(:long) %></td>
			<td><%= @project.end_time.to_s(:long) %></td>
			<td><%= CompleteOrNot(@project.project_status) %></td>
			<% if @project.project_status %>
			   <td><%= link_to "Printable Receipt (PDF)",customer_project_path(@project.customer_id , @project , format: "pdf"), class: 'btn btn-success' %></td>   
			<% end %>
		</tr>
	</table>


	<% if !@project.Project_Status %>
		<p><br></p>
		<div class = "container">
			<table class = "table table-condensed">
				<tr>
					<td>
					    <h2>Add a Add-On:</h2>
						<%= form_with(model: [@project, @project.addons.build ], local: true, :html => {class: "form-horizontal", role: "form"}) do |form| %>
			  				<div class = "form-group">
			  					<div class = "control-label col-sm-3">
			    					<%= form.label :Service %>
			    				</div>
			    				<div class= "col-sm-6">
			    					<%= form.text_field :service, class: "form-control", placeholder: "Service Name", autofocus: true %>
			    				</div>
			 				</div>
			  
			  				<div class = "form-group">
			  					<div class = "control-label col-sm-3">
			    					<%= form.label :Description %>
			    				</div>
			    				<div class= "col-sm-6">
			    					<%= form.text_area :description, rows: 4 ,class: "form-control", placeholder: "Description" %>
			    				</div>
			  				</div>

			  				<div class = "form-group">
			    				<div class = "control-label col-sm-3">
			    					<%= form.label :price %>
			   	 				</div>
								<div class = "col-sm-6">
			      					<div class = "input-group">
			        					<div class = "input-group-addon">₹</div>
			    							<%= form.number_field :price, class: "form-control", placeholder: "Price"%>
			    						<div class = "input-group-addon">.00</div>
			      					</div>
			  					</div>
							</div>
			  
			   				<div class = "form-group">
			   					<div class = "col-sm-offset-3 col-sm-10">
			      					<%= form.submit class: 'btn btn-primary btn-lg' %>
			  					</div>
							</div>
			 
							<% end %>
						</td>
			
			<td>
				<h2> Add-ons Associated with this Project</h2><br>
				<table class = "table table-hover table-striped">
					<tr>
						<th>Service</th>
						<th>Description</th>
						<th>Price</th>
						<th colspan = 2></th>
					</tr>
					<% @addons.each do |cs| %>
					<tr>
						<td><%= cs.service %></td>
						<td><%= cs.description %></td>
						<td><%= currency(cs.price) %></td>
						<td><%= link_to 'Destroy', [cs.project, cs], :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-danger' %></td>
					</tr>
					<% end %>
				</table>
			</td>
		</div>

		<% else %>
		<p><br></p>
			<div class = "container">
				<h3> Add-ons Associated with this Project</h3><br>
			<table class = "table table-hover table-striped">
					<tr>
						<th>Service</th>
						<th>Description</th>
						<th>Price</th>
						<th colspan = 2></th>
					</tr>
					<% @addons.each do |cs| %>
					<tr>
						<td><%= cs.service %></td>
						<td><%= cs.description %></td>
						<td><%= currency(cs.price) %></td>
						<td><%= link_to 'Edit', [:edit, cs.project, cs], class: 'btn btn-primary' %></td>
						<td><%= link_to 'Destroy', [cs.project, cs], :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-danger' %></td>
					</tr>
					<% end %>
				</table>
				<p><br></p>
				<hr>
				<% total_project_cost = @project.price + @addons.sum(:price) %>
				<h5> Project Cost:  <%= currency(@project.price)%> + Addons Cost:  <%= currency(@addons.sum(:price)) %></h5>
				<h5>Total Cost: <%= currency(total_project_cost) %></h5>
			</div>

		<% end %>

</div>
