<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <%= render 'layouts/messages' %>

    <div class = "conatiner">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' unless @skip_footer %>
  </body>
</html>
